version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: eventora-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: eventora
      POSTGRES_USER: eventora
      POSTGRES_PASSWORD: eventora
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: eventora-api
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 4000
      DATABASE_URL: postgres://eventora:eventora@db:5432/eventora
    depends_on:
      - db
    ports:
      - "4000:4000"

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: eventora-web
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
      NEXT_PUBLIC_API_URL: http://api:4000
    depends_on:
      - api
    ports:
      - "3000:3000"

volumes:
  pgdata:
